// Colores
$Primario: #2c76ee;
$PrimarioSuave: #3499fc;
$gris : #D3D5DC;
$grisOscuro: #808080;
$negro: #000000;
$negro_trasparente: rgba(0,0,0,0.7);
$blanco: #ffffff;
$banco_inactivo:rgba(255, 255, 255, 0.8);



// colores del nav bar
$fondo_navbar: #262A40;
$iconos_navbar_activo:#2861BA;
$icono_nabar_incativo :#606481;

// Color del Componente cambiante
$fondo_Principal :#F5F6FA;
$funte_numeros :  #516B8D;
$funte_numeros2 :  #A2D3E6;

//
$estrella: #5df1cc;